
.about-me-container {
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
  max-width: 650px;
  border-bottom: 1px solid black;
}

.about-me-container > h2 {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 80px;
  font-weight: 500;
}

.about-me-container p {
  line-height: 1.75rem;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}