.about-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0;
  row-gap: 2rem;
  padding: 8rem 0;
  width: 80%;
  margin: 0 auto;
}

.about-avatar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-basis: 40%;
  padding: 1.5rem 0;
  min-width: 320px;
}

.about-avatar > img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  /* this handles mobile/desktop scaling */
  min-width: 240px;
  width: 50%;
  max-width: 300px;
}

.about-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  flex-basis: 40%;
  padding: 0 1rem;
  min-width: 300px;
}

.about-content > p {
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: 400;
  margin: .5rem 0;
  color: var(--secondary);
  white-space: pre-wrap;
}