* {
  box-sizing: border-box;
}

[data-theme="light"] {
  /* --bg-gradient: linear-gradient(
    to top,
    #1db954,
    #009d79,
    #007d86,
    #005c77,
    #1c3c53,
    #232f3f
  ); */

  /* do not alter */
  /* --bg-gradient: linear-gradient(
    to top,
    #f0f9f3,
    #edf7ed,
    #ecf5e7,
    #ecf2e1,
    #edefda,
    #ebeed2,
    #e9edca,
    #e7ecc2,
    #daeeb9,
    #c9f1b4,
    #b2f5b3,
    #93f8b7
  ); */

  /* this one's good too! */
  --bg-gradient: linear-gradient(
    to top,
    #f6f4e8,
    #f5f2e4,
    #f3f1df,
    #f2efdb,
    #f1edd7,
    #f1ecd5,
    #f0ecd4,
    #f0ebd2,
    #f0ebd2,
    #f0ebd2,
    #f0ebd2,
    #f0ebd2
  );

  /* --bg-gradient: linear-gradient(
    to top,
    #f2f2f2,
    #ffffff,
    #f2f2f2
  ); */

  --bg-offset: #e7e4d3;
  --primary: #1db954;
  --secondary: rgb(30, 32, 30);
  --border: rgb(155, 155, 155);
  --icon-filter: none;
}

[data-theme="dark"] {
  /* this one is black/purple, works really well! */
  /* --bg-offset: rgb(9, 0, 27); */

  --bg-gradient: linear-gradient(
    to top,
    #121212,
    #141414,
    #161616,
    #171717,
    #171717,
    #161616,
    #141414,
    #121212
  );

  --bg-offset: rgb(37, 37, 37);
  --primary: #1db954;
  --secondary: #f0ebd2;
  --border: rgb(68, 68, 68);
  --icon-filter: invert(96%) sepia(8%) saturate(507%) hue-rotate(1deg) brightness(97%) contrast(94%);
}

html {
  /* background-color: var(--bg-offset) !important; */

  /* full gradient, save for now */
  /* background-image: linear-gradient(
    to top,
    #1db954,
    #009d79,
    #007d86,
    #005c77,
    #1c3c53,
    #232f3f,
    #21232b,
    #191919,
    #171717,
    #161616,
    #141414,
    #121212
  ); */

  /* dark gradient */
  background-image: var(--bg-gradient);

  height: 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: thin solid var(--border);
  margin: 0;
}

.app-main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
