* {
  box-sizing: border-box;
}

hr {
  border: 0;
  border-top: thin solid lightgray;
  margin: 0;
}

.app-main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* put top-level styles below here when done */