* {
  box-sizing: border-box;
}

.blah {
  padding: 10rem;
}

[data-theme='light'] {
  --bg-gradient: linear-gradient(
    to top,
    #1db954,
    #009d79,
    #007d86,
    #005c77,
    #1c3c53,
    #232f3f
  );

  --primary-green: #045330;
  --primary-gray: rgb(16, 36, 90);
  --primary-white: rgb(156, 40, 40);
  --primary-cream: rgb(199, 171, 33);
}

[data-theme='dark'] {
    /* this one is black/purple, works really well! */
    /* --bg-black: rgb(9, 0, 27); */

  --bg-gradient: linear-gradient(
    to top,
    #121212,
    #141414,
    #161616,
    #171717,
    #171717,
    #161616,
    #141414,
    #121212
  );
  /* not currently used */
  --bg-black: rgb(27, 27, 27);

  --primary-green: #1db954;
  --primary-gray: rgb(68, 68, 68);
  --primary-white: rgb(224, 224, 224);
  --primary-cream: rgb(240, 235, 210);
}



html {
  /* background-color: var(--bg-black) !important; */

  /* full gradient, save for now */
  /* background-image: linear-gradient(
    to top,
    #1db954,
    #009d79,
    #007d86,
    #005c77,
    #1c3c53,
    #232f3f,
    #21232b,
    #191919,
    #171717,
    #161616,
    #141414,
    #121212
  ); */

  /* dark gradient */
  background-image: var(--bg-gradient);

  height: 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  /* border-top: thin solid lightgray; og */

  border-top: thin solid var(--primary-gray);
  margin: 0;
}

.app-main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* put top-level styles below here when done */