.contact-form-container {
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 3rem;
}

.contact-image-container {
  padding: 3rem 0 1rem;
}

.contact-image-container > img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  border-radius: 50%;
}

.contact-form-container > p {
  padding-bottom: 2rem;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: clamp(22px, 3.5vw, 26px);
  text-align: center;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: .75rem;
  align-items: center;
}

.contact-form > a {
  display: block;
  border: 2px solid darkgray;
  border-radius: 8px;
  /* border-radius: 9999px; */
  padding: .33em 1.1em;
  width: 40%;
  font-family: "Roboto", sans-serif;
  font-size: clamp(16px, 3vw, 20px);
  text-decoration: none;
  color: black;
  text-align: center;

  transition: .5s;
}

.contact-form > a:hover {
  transition: .5s;
  border: 2px solid black;
  color: white;
  background-color: rebeccapurple;
}

@media (min-width: 700px) {
  .contact-form-container {
    padding-bottom: 6rem;
  }
  
  .contact-form-container > p {
    padding-bottom: 4rem;
  }

  .contact-form {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact-form > a {
    width: auto;
  }
}