.contact-form-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 4rem 0;
}

.contact-image-container {
  padding: 3rem 0 1rem;
}

.contact-image-container > img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  border-radius: 50%;
}

.contact-form-container > h3 {
  padding-bottom: 1rem;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "PT Serif", serif;
  font-size: clamp(22px, 3.5vw, 24px);
  /* font-weight: bold; */
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--primary-cream);
  opacity: .75;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: .75rem;
  align-items: center;
  min-width: 300px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: clamp(16px, 3vw, 20px);
}

.contact-form > a {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .3em;
  /* border: 2px solid darkgray; */
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  /* border-radius: 9999px; */
  padding: .4em 1.2em;
  min-width: 200px;
  flex-basis: 1%;
  flex-grow: 1;
  text-decoration: none;
  color: var(--primary-cream);
  text-align: center;

  transition: .5s;
  opacity: .85;
}

.contact-form > a:hover {
  transition: .5s;
  /* border: 2px solid lawngreen; */
  color: var(--bg-black);
  background-color: var(--primary-cream);
  opacity: 1;
}

@media (min-width: 715px) {
  /* .contact-form-container {
    padding-bottom: 6rem;
  } */
  
  .contact-form-container > h3 {
    padding-bottom: 2.5rem;
  }

  .contact-form {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact-form > a {
    width: auto;
  }
}