footer {
  border-top: 2px solid lightgray;
  padding: 2rem 0;
  font-family: "Roboto", sans-serif;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

/* initial size */
.footer-inner > p {
  /* reset <p> defaults (make global) */
  margin: 0;
  padding: 0;

  /* set initial size to 50% */
  flex-basis: 50%;
}

.footer-inner strong {
  display: block;
  font-family: "PT Serif", serif;
  padding-bottom: .4rem;
}

.footer-social > a {
  text-decoration: none;
  color: black;
}

.footer-social > a:hover {
  color: lightseagreen
}

.footer-social > span {
  margin: 0 .5rem;
  pointer-events: none;
}

@media (min-width: 700px) {
  .footer-inner > p {
    flex-basis: auto;
    margin-bottom: 0;
    margin-right: 3rem;
  }

  /* this rule requires that this is a block element */
  /* needs mobile fix */
  .footer-item-right {
    margin-left: auto;
  }
}

