/* .header-nav {
  border: 2px solid black;
} */

/* this should be a global */
.header-nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; 

  /* make this a global for ol, ul */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.icon {
  font-size: 35px;
  padding: 0 .25rem;
  color: black;
}


/* need to update for new links/icons */
.header-nav > ul > li:hover {
  color: goldenrod;
}

/* this is my current method for switching between navbar displays */
@media (max-width: 700px) {
  .header-nav > ul {
    display: none
  }
}