/* keeping for reference */
/* @media (max-width: 1000px) {
  .header {
    margin: 0 auto;
    border: 2px solid black;
    width: 90%;
    max-width: 1200px;
    padding: 3rem;
    font-size: 1rem;
    color: goldenrod;
  }
} */

.header {
  border: 2px solid black;
  padding: 3rem 0;
  color: goldenrod;
  border: 2px solid green;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}