.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; 

  /* make this a global for ol, ul */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-nav > button {
  margin: 0;
  padding: 0 0 0 1rem;
  border: none;
  background-color: transparent;
  transition: .5s;
}

.header-nav > button > .icon:hover {
  color: gold;
}

.icon {
  font-size: 36px;
  padding: 0 .25rem;
  transition: .5s;
  color: var(--secondary);
}

.icon:hover {
  transition: .5s;
  color: var(--primary);
}