.header-brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header-brand > img {
  border-radius: 50%;
  margin-right: .6rem;
  max-width: 50px;
}

.header-brand > span {
  font-family: "PT Serif", serif;
  font-size: 17px;
  font-weight: 700;
  /* font-family: "Roboto", sans-serif; */
}