.header {
  padding: 1rem 0;
  color: black;
  /* border-bottom: 1px solid rgb(240, 240, 240); */
  border-bottom: 1px solid var(--primary-gray);
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

@media (min-width: 500px) {
  .header {
    padding: 3rem 0;
  }
}