.header-brand {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header-brand > img {
  border-radius: 50%;
  margin-right: .5rem;
  max-width: 50px;
}

.header-brand > span {
  font-size: 18px;
}