.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; 

  /* make this a global for ol, ul */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.icon {
  font-size: 40px;
  padding: 0 .25rem;
  /* color: black; */
  transition: .5s;
  color: var(--primary-white);
}

.icon:hover {
  transition: .5s;
  color: var(--primary-green);
}