.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0;
  row-gap: 2rem;
  padding-top: 4rem;
  opacity: 0;
  transform: translateX(15px);
  transition: .5s;
}

.avatar-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-basis: 50%;
  padding: 1.5rem 0;
}

.avatar-container > img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  /* this handles mobile/desktop scaling */
  min-width: 240px;
  width: 50%;
  max-width: 300px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  flex-basis: 50%;
  padding: 0 1rem;
  min-width: 300px;
}

.hero-content > p {
  font-family: "PT Serif", serif;
  font-size: 19px;
  font-weight: 400;
  margin: .5rem 0;
  color: var(--secondary);
  transition: .5s;
}

.fade-in {
  transform: translateX(-15px);
  opacity: 1;
  transition: .75s;
}