/* refactoring hero section */

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: row-reverse; */
  /* border: 1px solid violet; */
  padding-top: 4rem;


  /* this will be removed / needs work */
  /* padding-bottom: calc(130px + 1vw); */
  /* height: 70vh; */
}

.avatar-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-basis: 50%;
  /* border: 2px dashed aqua; */
  padding: 1.5rem 0;
}

.avatar-container > img {
  display: block;
  margin: 0 auto;
  /* border: 1px dotted black; */
  border-radius: 50%;
  /* this handles mobile/desktop scaling */
  min-width: 240px;
  width: 50%;
  max-width: 300px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  flex-basis: 50%;
  /* border: 2px dashed hotpink; */
  padding: 0 1rem;
  width: 100%;
}

.hero-content > p {
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: 400;
  margin: .5rem 0;
}

/* old styles below this line */

/* .hero-container {
  padding: 8rem 0rem 10rem; 
}

.hero-container > h2 {
  display: inline;
  margin: 0;
  position: relative;
  font-family: "PT Serif", sans-serif;
  font-size: clamp(24px, 3.5vw, 48px);
  font-weight: 700;
}

.hero-container > h2:nth-child(2),
.hero-container > h2:nth-child(3) {
  padding-left: 5px;
} */

/* use multiple media queries if needed to get hero font-size correct */
/* @media (min-width: 570px) { */
  /* to solve: make text scale so that new lines arent created on shrink */
  /* new lines = push down featured projects */
  /* .hero-container > h2:nth-child(1),
  .hero-container > h2:nth-child(2),
  .hero-container > h2:nth-child(3) {
    display: block;
    padding: 0;
  }
  
} */

/* @media (min-width: 1000px) {
  .hero-container {
    width: 85%;
    padding: 7rem 0rem 17em; 
  }
} */