.image-slider {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.image-slider > img {
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  margin: auto;
  /* horizontal, vertical, blur, color */
  box-shadow: -4px 6px 12px rgba(0, 0, 0, .5);
}

/* consider how this will fit in with mobile */

.prev, .next {
  position: absolute;
  /* 20px = (height of btn / 2) */
  top: calc(50% - 20px);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  font-size: 16px;
  background-color: rgba(0, 0, 0, .1);
  color: white;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, .2);
  color: black;
  cursor: pointer;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}