.image-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: .4s;
}

.image-slider > img {
  max-width: 100%;
  border-radius: 2px;
  margin: auto;
  /* horizontal, vertical, blur, color */
  box-shadow: -4px 6px 12px rgba(0, 0, 0, .5);
}

/* animation on photo change */
.hide {
  opacity: 0;
}

.prev, .next {
  position: absolute;
  /* 20px = (height of btn / 2) */
  top: calc(50% - 20px);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  opacity: .1;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, .2);
  color: black;
  cursor: pointer;
  opacity: 1;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}