.projects-list-outer {
  color: black;
}

.projects-list-header {
  display: flex;
  align-items: center;
  column-gap: .75rem;
  margin-top: 50px;
  padding: 0 0 0rem;
}

.projects-list-header > h2 {
  margin: 0 0 .1rem;
  font-family: 'PT Serif', serif;
  font-size: clamp(20px, 2.5vw, 32px);
  font-weight: bold;
  word-break: keep-all;
  color: var(--primary);
}

.separator {
  display: inline-block;
  border-top: 2px solid var(--border);
  margin-top: 10px;
  /* width: 50%; */
  height: 1px;
  flex-grow: 1;
}

.projects-list-sub-header {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
}

.projects-list-sub-header > p {
  margin: 0 5px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: clamp(13px, 1.5vw, 15px);
  color: var(--secondary);
  opacity: .75;
}

.all-work {
  margin: 0 auto;
  padding: 6rem 0;
  max-width: 500px;
  text-align: center;
}

.all-work > strong {
  display: block;
  padding-bottom: 2.5em;
  font-family: "PT Serif", serif;
  font-size: clamp(14px, 3.5vw, 20px);
  font-weight: 400;
  color: var(--secondary);
  opacity: .9;
}

.all-work-icon {
  margin-right: .3em;
}

.all-work > a {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  padding: .3em .6em;
  width: 50%;
  background-color: var(--bg-offset);
  font-family: "Roboto", sans-serif;
  font-size: clamp(16px, 4vw, 22px);
  color: var(--secondary);
  text-decoration: none;
  transition: .25s;
  opacity: .8;
}

.all-work > a:hover {
  border-color: var(--bg-offset);
  color: var(--bg-offset);
  background-color: var(--secondary);
  transition: .5s;
  opacity: 1;
}

@media (min-width: 500px) {
  .projects-list-header {
    margin: 0 0 .1rem;
  }

  .all-work {
    padding: 4rem 0;
  }
}

/* match with when project joins to one row */
@media (min-width: 1150px) {
  .projects-list-inner {
    margin-top: 8rem;
  }
}