/* consider using an element selector when final to reduce amount of class names */
.project-tech-list {
  /* reset <ul> */
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  gap: .25rem .5rem;

  list-style: none;
}