.project-tech-icon {
  display: inline-flex;
  border-radius: 9999px;
  padding: 7px 14px;
  font-size: 13px;
  align-items: center;
  background-color: var(--bg-offset);
  color: var(--secondary);
  /* opacity: .85; */
}

.project-tech-icon > span {
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--secondary);
  /* opacity: .75; */
}

.project-tech-icon > img {
  width: 14px;
  height: 14px;
}

@media (min-width: 500px) {
  .project-tech-icon > img {
    width: 16px;
    height: 16px;
  }
}