.project {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;  (this would be better for desktop, space-evenly better for mobile)*/
  justify-content: space-evenly;
  margin: 0 auto;
}

.project-image {
  width: 100%;
  max-width: 250px;
  height: 300px;
  background-color: blue;
}

.project-text {
  width: 100%;
  max-width: 250px;
  height: 300px;
  background-color: red;
}