/* need to clean this file when project component complete / refactor */

.project {
  display: flex;
  flex-wrap: wrap;

  /* saving just in case */
  /* justify-content: space-evenly; */

  /* this works well */
  justify-content: space-around;

  /* this prevents centering on mobile! */
  /* justify-content: space-between; */

  margin: 10rem auto;
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;

  /* scroll animation increases opacity */
  opacity: 0;
}

.project-text {
  display: block;
  /* max-width: 475px; <- original */
  max-width: 500px;

  /* scroll animation increases opacity*/
  opacity: 0;
}

/* testing scroll animation */
.slidein-image, .slidein-text {
  animation-duration: 750ms;
  position: relative;
  top: 0;
  opacity: 1;
  transition: .75s;
}

.slidein-image {
  animation-name: slidein-image;
}

.slidein-text {
  animation-name: slidein-text;
}

@keyframes slidein-image {
  from {
    right: 50px;
  }

  to {
    right: 0px;
  }
}

@keyframes slidein-text {
  from {
    left: 50px;
  }

  to {
    left: 0px;
  }
}

/* end scroll testing */

.project-text > h2 {
  margin: 0;
  line-height: 3rem;
}

.project-title, .project-title-lg {
  margin: 1rem 0;
  font-family: 'PT Serif', serif;
  /* font-size: 55px; <- original */
  font-size: 48px;
  font-weight: 700;
}

.project-title-long {
  font-size: 37px;
}

.project-description {
  margin: 1.5rem 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.project-text > ul {
  padding-left: 1rem;
  font-size: 18px;
  list-style-type: '- ';
  line-height: 1.25rem;
}

.project-text > ul li {
  margin-top: 15px;
}

/* testing project features integration */
/* .project-features {
  border: none;
  border-radius: 9999px;
  padding: .3rem .65rem;

  background-color: rgb(245, 245, 245);
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
} */