.project {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto 6rem;
  gap: 2rem;
  justify-content: space-around;
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;

  /* scroll animation increases opacity */
  opacity: 0;
}

.project-text {
  display: block;
  max-width: 500px;

  /* scroll animation increases opacity*/
  opacity: 0;
}

.slidein-image, .slidein-text {
  animation-duration: 750ms; /* controls slide-in duration */
  position: relative;
  top: 0;
  opacity: 1;
  transition: 750ms; /* controls opacity change */
}

.slidein-image {
  animation-name: slidein-image;
}

.slidein-text {
  animation-name: slidein-text;
}

@keyframes slidein-image {
  from {
    right: 50px;
  }

  to {
    right: 0px;
  }
}

@keyframes slidein-text {
  from {
    left: 50px;
  }

  to {
    left: 0px;
  }
}

.project-title, .project-title-long {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 28px;
  color: var(--primary);
}

.project-title-long {
  font-size: 21px;
}

.project-description {
  margin: .5rem 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.55rem;
  color: var(--secondary);  
}

.made-with {
  margin: 1.75rem 0 .5rem;
  font-family: 'Verdana';
  font-size: 12px;
  color: var(--primary);
  opacity: .75;
}

@media (min-width: 500px) {
  .project-title {
    font-size: 48px;
  }
  
  .project-title-long {
    font-size: 33px;
  }

  .project-description {
    margin: .8rem 0;
    font-size: 17px;
  }
}

/* match with when project joins to one row */
@media (min-width: 1150px) {
  .project {
    margin: 10rem auto;
  }
}