.project-links > h4 {
  margin-bottom: .25rem;
  /* font-family: "PT Serif", sans-serif; */
  font-family: "Verdana";
  /* font-family: "Roboto"; */
  font-size: 13px;
}

.link-btn {
  margin-right: 20px;
  background-color: white;
  border: 2px solid darkgray;
  border-radius: 4px;
  padding: .3rem .65rem;
}

.live-link, .repo-link {
  text-decoration: 0;
  font-family: "Roboto", serif;
  font-size: 18px;
  color: black;
}