.projects-list-outer {
  margin-top: 12rem;
  color: black;
  border-bottom: 1px solid black;
}

.projects-list-inner {
  margin-top: 8rem;
}

.projects-list-header {
  margin: .1rem 0;
  font-family: 'PT Serif', serif;
  font-size: 30px;
  font-weight: 700;
}


.projects-list-sub-header {
  display: flex;
  align-items: center;
}

/* change ProjectTechIcon media query to match this h3 */
.projects-list-sub-header > h3 {
  margin: 0 5px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.all-work {
  margin: 0 auto;
  padding: 4rem 0 6rem 0;
  max-width: 500px;
  text-align: center;
}

.all-work > strong {
  display: block;
  padding-bottom: 2.5em;
  font-family: "PT Serif", serif;
  font-size: 14px;
}

.all-work-icon {
  margin-right: 5px;
}

.all-work > a {
  /* display: inline-block; */
  /* margin: 0 auto; */
  border: 2px solid black;
  padding: .3em 1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
}

.all-work > a:hover {
  background-color: darkorange;
}

/* media queries */
@media (min-width: 500px) {
  .projects-list-header {
    margin: .1rem 0;
    font-size: 40px;
  }

  .projects-list-sub-header > h3 {
    font-size: 16px;
  }

  .all-work {
    padding: 4rem 0 10rem 0;
  }

  .all-work > strong {
    font-size: 22px;
  }

  .all-work > a {
    padding: .5rem 1.25rem;
    font-size: 28px;
  }
}