.projects-list-outer {
  margin-top: 10rem;
  color: black;
  border-bottom: 1px solid black;
}

.projects-list-inner {
  margin-top: 8rem;
}

.projects-list-header {
  margin: .1rem 0;
  font-family: 'PT Serif', serif;
  font-size: 44px;
  font-weight: 700;
}

.projects-list-sub-header {
  display: flex;
  align-items: center;
}

.projects-list-sub-header > h3 {
  margin: 0 5px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.all-work {
  margin: 0 auto;
  padding: 4rem 0 10rem 0;
  max-width: 500px;
  text-align: center;
}

.all-work > strong {
  display: block;
  padding-bottom: 2.5rem;
  font-family: "PT Serif", serif;
  font-size: 22px;
}

.all-work-icon {
  margin-right: 5px;
}

.all-work > a {
  /* display: inline-block; */
  /* margin: 0 auto; */
  border: 2px solid black;
  padding: .5rem 1.25rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  background-color: white;
  color: black;
}

.all-work > a:hover {
  background-color: darkorange;
}