.project-tech-icon {
  display: flex;
  margin-right: .5rem;
  margin-bottom: .25rem;
  border: 2px solid black;
  border-radius: 9999px;
  padding: 5px 10px;
  font-size: 20px;
  align-items: center;
  color: black;
}

.project-tech-icon > span {
  padding-left: 5px;
  font-size: 16px;
  /* font-style: italic; */
  font-weight: 600;
  color: black;
}