/* need to clean this file when project component complete / refactor */

.project {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;  (this would be better for desktop, space-evenly better for mobile)*/
  justify-content: space-evenly;
  margin: 0 auto 20rem auto;
}

.project-image-container {
  /* testing */
  width: 100%;
  max-width: 250px;
  /* border: 2px solid black; */
}

.project-image {
  /* project image sizes should be uniform */
  /* also, size may change */
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 20px;

  /* reconsider if needed */
  margin: 4rem auto;

  /* these could be props? */
  background-color: lightgreen;
  font-size: 140px;
  
  /* can remove, just to position 'k' text in center of box */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* determine if needed */
.project-text {
  width: 100%;
  max-width: 400px;
  height: 500px; /* try to remove when done */
  /* border: 2px solid black; */
}

.project-text > h2 {
  margin: 0;
  line-height: 3rem;
}

.project-title {
  margin: 1rem 0;
  font-size: 50px;
  font-weight: 700;
}

.project-description {
  margin: 1.25rem 0;
  font-size: 21px;
}

ul {
  padding-left: 1rem;
  font-size: 18px;
  list-style-type: '- ';
  line-height: 1.25rem;
}

ul li {
  margin-top: 15px;
}