/* need to clean this file when project component complete / refactor */

/* font-family: 'Lato', sans-serif;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;
headers:
font-family: 'PT Serif', serif;
font-family: 'Zen Antique', serif; */

.project {
  display: flex;
  flex-wrap: wrap;

  /* saving just in case */
  /* justify-content: space-evenly; */

  /* this works well */
  justify-content: space-around;

  /* this prevents centering on mobile! */
  /* justify-content: space-between; */

  /* align-items: center; */
  margin: 0 auto 20rem auto;
  /* border: 2px solid black; */
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.project-text {
  display: block;
  max-width: 475px;
}

.project-text > h2 {
  margin: 0;
  line-height: 3rem;
}

.project-title {
  margin: 1rem 0;
  font-size: 50px;
  /* font-weight: 700; */
  font-family: 'PT Serif', serif;
}

.project-description {
  margin: 1.25rem 0;
  font-size: 21px;
  /* font-weight: 600; */
  /* both look good */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'PT Serif', serif; */
}

.project-text > ul {
  padding-left: 1rem;
  font-size: 18px;
  list-style-type: '- ';
  line-height: 1.25rem;
}

.project-text > ul li {
  margin-top: 15px;
}