.projects-list-outer {
  color: black;
  border-bottom: 1px solid black;
}

.projects-list-header {
  margin: 0 0 .1rem;
  font-family: 'PT Serif', serif;
  font-size: clamp(20px, 2.5vw, 34px);
  font-weight: 700;
}

.projects-list-sub-header {
  display: flex;
  align-items: center;
}

.projects-list-sub-header > h3 {
  margin: 0 5px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: clamp(13px, 1.5vw, 16px);
}

.all-work {
  margin: 0 auto;
  padding: 0rem 0 6rem 0;
  max-width: 500px;
  text-align: center;
}

.all-work > strong {
  display: block;
  padding-bottom: 2.5em;
  font-family: "PT Serif", serif;
  font-size: 14px;
}

.all-work-icon {
  margin-right: 5px;
}

.all-work > a {
  border: 2px solid black;
  padding: .3em 1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
}

.all-work > a:hover {
  background-color: darkorange;
}

/* media queries */
@media (min-width: 500px) {
  .projects-list-header {
    margin: 0 0 .1rem;
  }

  .all-work {
    padding: 4rem 0 10rem 0;
  }

  .all-work > strong {
    font-size: 22px;
  }

  .all-work > a {
    padding: .5rem 1.25rem;
    font-size: 28px;
  }
}

/* match with when project joins to one row */
@media (min-width: 1150px) {
  .projects-list-inner {
    margin-top: 8rem;
  }
}