.skills-outer {
  padding-top: 150px;
}

.skills-header {
  display: flex;
  align-items: center;
  column-gap: .75rem;
  margin-top: 50px;
  padding: 0 0 8rem;
  font-family: "PT Serif", serif;
  font-size: clamp(20px, 2.5vw, 32px);
  font-weight: bold;
}

.separator {
  display: inline-block;
  border-top: 2px solid lightgray;
  margin-top: 10px;
  width: 100%;
  height: 1px;
}

/* .skills-description {
  display: block;
  padding: 0 0 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
} */

.skills-inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 1.25rem;
  align-items: center;
  justify-content: center;
  /* border: 2px solid chartreuse; */
  color: black;
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: .5rem;
  justify-content: space-around;
  list-style-type: none;
  /* border: 1px dashed darkslateblue; */
  margin: 0;
  padding: 0;
  width: 48%;
  min-width: 400px;
  flex-grow: 1;
}

.skills-list > li > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
}

.skills-list > li > span > svg,
.skills-list > li > img {
  width: 38px;
  height: 38px;
  transition: .25s;
}

.skills-list > li > span > svg:hover,
.skills-list > li > img:hover {
  transform: translateY(-12px);
  transition: .25s;
}

.skills-list > li > img {
  display: block;
  width: 38px;
  height: 38px;
  transition: .25s;
}

.skill-text {
  display: block;
  font-size: 16px !important;
  padding-top: 1rem;
}

/* mobile styles */
@media (max-width: 450px) {
  .skills-list {
    min-width: auto;
    width: 100%;
  }

  .skills-list > li > span {
    font-size: 30px;
  }

  .skills-list > li > img {
    margin: 0 auto;
    width: 30px;
    height: 30px;
  }

  .skill-text {
    font-size: 12px !important;
  }
}