.skills-outer {
  /* border: 1px solid red; */
  /* margin-top: auto; */
  padding-top: 100px;
}

.skills-header {
  display: block;
  margin-top: 50px;
  padding: 1rem 0;
  font-family: "PT Serif", serif;
  font-size: 22px;
  font-weight: bold;
}

.skills-inner {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid chartreuse; */
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: .5rem;
  justify-content: space-around;
  list-style-type: none;
  /* border: 1px dashed darkslateblue; */
  margin: 0;
  padding: 2rem;
}

.skills-list > li > span {
  font-size: 40px;
}

.skills-list > li > img {
  width: 40px;
  height: 40px;
}